/* Factoring the common CSS's */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.main-container{
    background-image: linear-gradient(to top left, red, blue);
    padding-top: 50px 0;
    padding: 10px;
}

.container{
    margin: auto;
    display: flex;
    max-width: 900px;
    /* flex-direction: row-r; */
}

.container:not(#header .container){
    padding: 10px;
}

.box-shadow{
    box-shadow: 3px 3px 8px black;
}

#aboutme, #myskills, #myworks, #contactme{
    margin-top: 50px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

/* Header CSS */

 #header{
     /* border: 2px solid red;  */
 }  

#header .container{
    align-items: center;
    border-radius: 10px;
    border: 5px solid white;
    background-color:#0D94EE;

}

#header .container .content{
    flex-basis: 60%;
    text-align: center;
    color: white;
    line-height: 25px;
}

#header .container .content h4{
    letter-spacing: 5px;
}

#header .container .content h4, 
#header .container .content h1, 
#header .container .content p{
    margin-bottom: 20px;
}

#header .container .image-div{
    flex-basis: 40%;
}

#header .container .image-div img{
    width: 100%;
    
}

.social-icon a{
    color: white;
    margin: 20px;
    font-size: 30px;
}

.social-icon a:first-child{
    color: blue;
}
.social-icon a:nth-child(2){
    color: pink;
}
.social-icon a:last-child{
    color: red;
}

/* About Me CSS */
#aboutme{
    color: white;
}

#aboutme .container{
    align-items: center;
    color: white;
}

#aboutme .content h2{
    line-height: 50px;
    color: white;
}

#aboutme .container > div{
    /* border: 3px solid orange;     */
    flex-basis: 50%;
    
}

#aboutme .image-div img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* My Skills CSS */

#myskills .section-title{
    color: white;
}
#myskills .content > h2{
    color: white;
    margin-bottom: 10px;
}

#myskills .container{
    align-items: center;
    /* justify-content: flex-end; */
}

#myskills .container > div{
    /* border: 3px solid red; */
    flex-basis: 50%;
    /* border: 2px solid red; */
}

#myskills .content ul{
    list-style-type: none;
}

#myskills .content ul li{
    /* border: 2px solid green; */
    display: inline-block;
    background-color: rgba(193, 183, 189, 0.5);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    font-weight: bold;
}

#myskills .image-div {
    padding: 50px 20px;
    
}
#myskills .image-div img{
    width: 100%;
    margin: auto;
    /* float: right; */
    display: block;
    border-radius: 5px;
}

/* My Works CSS */

#myworks .container{
    justify-content: space-between;
    /* border: 2px solid green; */

}

#myworks .section-title{
    color: white;
}

#myworks .container .card{
    flex-basis: 25%;
    background-color: #022293;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: transform 1s, background-color 1s;
}

#myworks .card:hover{
    background-color: purple;
    transform: scale(1.1);
}

#myworks .card h3{
    margin: 20px 0;
}

/* Contact Me CSS */

#contactme .section-title{
    color: white;
}

#contactme .container div{
    /* border: 2px solid red; */
    flex-basis: 50%;
    margin-bottom: 15px;
}

#contactme ul{
    list-style-type: none;
    line-height: 40px;
    font-weight: bold;
    color: white;
    font-size:1.5em;
    margin: 10px;
}

#contactme .form input, 
#contactme .form textarea,
#contactme .form button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

#contactme .form .form-group{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#contactme .form .form-group input{
    flex-basis: 49%;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: black;
}

#contactme .form .textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 8px;
    color: black;
}

#contactme .form button{
    padding: 7px 30px;
    float: right;
    background-color: #022293;
    color: white;
}

/* Footer CSS */

#footer{
    background-color: #022293;
    color: white;
    
}

#footer .container{
    /* border: 2px solid red; */
    justify-content: space-between;
    padding: 30px 0 100px 0;
    /* width: 100%; */
}

#footer .container .column{
    flex-basis: 32%;
    line-height: 35px;
    text-align: center;
}

#footer .column h3{
    margin-bottom: 20px;
}

#footer .column ul{
    list-style-type: none;
}

#footer .column ul li a{
    text-decoration: none;
    color: white;
}

/* Go to top */

#gototop{
    background-color: orange;
    width: 45px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
}

@media (max-width: 600px){
    .main-container{
        background-image: linear-gradient(to top left, red, blue);
    }
    /* Header Section */
    #header .container{
        flex-direction: column-reverse;
        border: none;
        border-radius: 0;
        box-shadow: 0px 0px;
    }
    #header .content{
        padding: 20px 0;
    }

    /* About Me Section */
    #aboutme .container{
        flex-direction: column;
        text-align: center;
    }

    #aboutme .content{
        padding: 20px;
    }

    /* My Skills Section */
    #myskills .container{
        flex-direction: column;
    }

    #myskills .content{
        text-align: center;
        padding: 20px 0;
    }

    /* My Work Section */
    #myworks .container{
        flex-direction: column;
    }

    #myworks .card{
        width: 80%;
        margin: 10px auto;
    }

    /* Contact Me Section */
    #contactme .container{
        flex-direction: column;
    }

    #contactme .form .form-group{
        flex-direction: column;
    }

    #contactme .form .form-group input:first-child{
        margin-bottom: 10px;
    }

    /* Footer Section */
    #footer .container{
        flex-direction: column;
    }
    #footer .column{
        margin:20px 0;
    }
    #footer .column h3{
        margin-bottom: 20px;
    }
}